<%= simple_form_for(@character) do |f| %>
	<%= f.error_notification %>
	<div class="large-5 small-9">
		<%= f.input :description, label: "What letter is it?", placeholder: 'A, B, C, etc.' %>
	</div>
	<%= f.button :submit, class:"button" %>

<% end %>
