<div class="row">
	<h1>Characters</h1>
	<table>
		<thead>
			<tr>
				<th>Description</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%= render @characters %>
		</tbody>
	</table>

	<br />

	<%= link_to 'New Character', new_character_path, class: 'button' %>
</div>