<div class="row">
	<p>
		<%= @character.description %>
	</p>
	<p>
		Uploaded by <%= @character.user.name %>
	</p>
	<% if current_user == @character.user %>
	<%= link_to 'Edit', edit_character_path(@character) %> |
	<% end %>
	<%= link_to 'Back', characters_path %>
	
</div>
